<mat-toolbar color="primary">
  <span><a routerLink="/">MES</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <span><a routerLink="/home" mat-button routerLinkActive = "mat-accent">Home</a></span>
    </li>
    <li *ngIf="!isAuthenticated">
      <span><a routerLink="/login" mat-button routerLinkActive = "mat-accent">Login</a></span>
    </li>
    <li *ngIf="!isAuthenticated">
      <span><a routerLink="/signup" mat-button routerLinkActive = "mat-accent">Signup</a></span>
    </li>
    <li>
      <span><a routerLink="/" mat-button routerLinkActive = "mat-accent">About</a></span>
    </li>
    <li>
      <span><a routerLink="/" mat-button routerLinkActive = "mat-accent">Contact</a></span>
    </li>
    <li *ngIf="isAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
