<app-studsidenav></app-studsidenav>
<!---    <form [formGroup] = "userForm">
        <div class="mt-5 box">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>Subject</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;" >
                        <div class="col">
                            <input type="text" formControlName="Subject" class="form-control" placeholder="Subject">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>Test_1</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;"> 
                        <div class="col">
                            <input type="text" formControlName="Test_1" class="form-control" placeholder="Test_1">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>CA1</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" formControlName="CA1" class="form-control" placeholder="CA1">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>CA2</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" formControlName="CA2" class="form-control" placeholder="CA2">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>PA1</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" formControlName="PA1" class="form-control" placeholder="PA1">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>Test_2</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" formControlName="Test_2" class="form-control" placeholder="Test_2">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>CA3</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" formControlName="CA3" class="form-control" placeholder="CA3">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>CA4</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" formControlName="CA4" class="form-control" placeholder="CA4">
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group mt-4">
                         <label>PA2</label>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" formControlName="PA2" class="form-control" placeholder="PA2">
                        </div> 
                    </div>
                </div>

                <div class="form-row mt-4">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" (click)="addItem()" >Add</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary" (click)="reset()" >Reset</button>
                    </div>
                </div> 

            </div>
        </div>
    </form>
    
    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Test_1</th>
                    <th>CA1</th>
                    <th>CA2</th>
                    <th>PA1</th>
                    <th>Test_2</th>
                    <th>CA3</th>
                    <th>CA4</th>
                    <th>PA2</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let item of listData" >
                    <td><span>{{ item.Subject }}</span></td>
                    <td><span>{{ item.Test_1 }}</span></td>
                    <td><span>{{ item.CA1 }}</span></td>
                    <td><span>{{ item.CA2 }}</span></td>
                    <td><span>{{ item.PA1 }}</span></td>
                    <td><span>{{ item.Test_2 }}</span></td>
                    <td><span>{{ item.CA3 }}</span></td>
                    <td><span>{{ item.CA4 }}</span></td>
                    <td><span>{{ item.PA2 }}</span></td>
                    <td><button type="button" class="btn btn-primary" (click)="removeItem(item)" >Remove</button></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
--->


<div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Student Marks Data</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Subject</th>
                  <th scope="col">Test1</th>
                  <th scope="col">CA1</th>
                  <th scope="col">CA2</th>
                  <th scope="col">PA1</th>
                  <th scope="col">Test2</th>
                  <th scope="col">CA3</th>
                  <th scope="col">CA4</th>
                  <th scope="col">PA2</th>
                </tr>
                <tr *ngFor="let stu of students;"(click)="open(content,stu)" style="cursor: pointer;">
                  <td scope="col">{{ stu.Subject }}</td>
                  <td scope="col">{{ stu.Test1 }}</td>
                  <td scope="col">{{ stu.CA1 }}</td>
                  <td scope="col">{{ stu.CA2 }}</td>
                  <td scope="col">{{ stu.PA1 }}</td>
                  <td scope="col">{{ stu.Test2 }}</td>
                  <td scope="col">{{ stu.CA3 }}</td>
                  <td scope="col">{{ stu.CA4 }}</td>
                  <td scope="col">{{ stu.PA2 }}</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Student Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="Subject">Subject</label>
          <div class="input-group">
            <input id="Sub" class="form-control" readonly >
          </div>
        </div>
        <div class="form-group">
          <label for="Test1">Test1</label>
          <div class="input-group">
            <input id="T1" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA1">CA1</label>
          <div class="input-group">
            <input id="C1" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA2">CA2</label>
          <div class="input-group">
            <input id="C2" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="PA1">PA1</label>
          <div class="input-group">
            <input id="P1" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="Test2">Test2</label>
          <div class="input-group">
            <input id="T2" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA3">CA3</label>
          <div class="input-group">
            <input id="C3" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA4">CA4</label>
          <div class="input-group">
            <input id="C4" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="PA2">PA2</label>
          <div class="input-group">
            <input id="P2" class="form-control"  readonly>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
    
    
   <!--- <div class="modal-body">
          <div>
  
            <table class="table align-items-center table-flush text-nowrap">
              <tr>
                <td>
                  Subject : {{ modalContent.Subject }}
                </td>
              </tr>
              <tr>
                <td>
                  Test1 : {{ modalContent.Test1 }}
                </td>   
              </tr>
              <tr>
                <td>
                  CA1 : {{ modalContent.CA1 }}
                </td>
              </tr>
              <tr>
                <td>
                  CA2 : {{ modalContent.CA2 }}
                </td>
              </tr>
              <tr>
                <td>
                  PA1 : {{ modalContent.PA1 }}
                </td>
              </tr>
              <tr>
                <td>
                  Test2 : {{ modalContent.Test2 }}
                </td>
              </tr>
              <tr>
                <td>
                  CA3 : {{ modalContent.CA3 }}
                </td>
              </tr>
              <tr>
                <td>
                  CA4 : {{ modalContent.CA4 }}
                </td>
              </tr>
              <tr>
                <td>
                  PA2 : {{ modalContent.PA2 }}
                </td>
              </tr>
            </table>
  
          </div>
        </div>
        <div class="form-group">
            
        </div>
        --->

          