<app-studsidenav></app-studsidenav>

<div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow main-cointainer">
          <div class="card-header border-0">
            <h3 class="text mb-0">Student Marks Data</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Subject</th>
                  <th scope="col">CA1</th>
                  <th scope="col">Test1</th>
                  <th scope="col">CA2</th>
                  <th scope="col">PCA1</th>
                  <th scope="col">Test2</th>
                  <th scope="col">CA3</th>
                  <th scope="col">CA4</th>
                  <th scope="col">PCA2</th>
                  <th scope="col">FINAL</th>
                  <th scope="col">GRAPH</th>
                </tr>
                <tr *ngFor="let stu of subdata;"(click)="open(content,stu)" style="cursor: pointer;">
                    <td scope="col">{{ stu.sname }}</td>
                  <td scope="col">{{ stu.marks.ca1 }}</td>
                  <td scope="col">{{ stu.marks.test1 }}</td>
                  <td scope="col">{{ stu.marks.ca2 }}</td>
                  <td scope="col">{{ stu.marks.pca1 }}</td>
                  <td scope="col">{{ stu.marks.ca3 }}</td>
                  <td scope="col">{{ stu.marks.test2 }}</td>
                  <td scope="col">{{ stu.marks.ca4 }}</td>
                  <td scope="col">{{stu.marks.pca2 }}</td>
                  <td scope="col">{{ stu.marks.final }}</td>
                  <td><mat-icon (click)="showGraph(i,stu.marks.ca1,stu.marks.test1,stu.marks.ca2,stu.marks.pca1,stu.marks.ca3,stu.marks.test2,stu.marks.ca4,stu.marks.pca2,stu.marks.final)" style="cursor: pointer;">bar_chart</mat-icon></td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


 <!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Student Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="Subject">Subject</label>
          <div class="input-group">
            <input id="Sub" class="form-control" readonly >
          </div>
        </div>
        <div class="form-group">
          <label for="Test1">Test1</label>
          <div class="input-group">
            <input id="T1" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA1">CA1</label>
          <div class="input-group">
            <input id="C1" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA2">CA2</label>
          <div class="input-group">
            <input id="C2" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="PA1">PA1</label>
          <div class="input-group">
            <input id="P1" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="Test2">Test2</label>
          <div class="input-group">
            <input id="T2" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA3">CA3</label>
          <div class="input-group">
            <input id="C3" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="CA4">CA4</label>
          <div class="input-group">
            <input id="C4" class="form-control"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="PA2">PA2</label>
          <div class="input-group">
            <input id="P2" class="form-control"  readonly>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
-->

   <!-- <div class="modal-body">
          <div>
            <table class="table align-items-center table-flush text-nowrap">
              <tr>
                <td>
                  Subject : {{ modalContent.Subject }}
                </td>
              </tr>
              <tr>
                <td>
                  Test1 : {{ modalContent.Test1 }}
                </td>
              </tr>
              <tr>
                <td>
                  CA1 : {{ modalContent.CA1 }}
                </td>
              </tr>
              <tr>
                <td>
                  CA2 : {{ modalContent.CA2 }}
                </td>
              </tr>
              <tr>
                <td>
                  PA1 : {{ modalContent.PA1 }}
                </td>
              </tr>
              <tr>
                <td>
                  Test2 : {{ modalContent.Test2 }}
                </td>
              </tr>
              <tr>
                <td>
                  CA3 : {{ modalContent.CA3 }}
                </td>
              </tr>
              <tr>
                <td>
                  CA4 : {{ modalContent.CA4 }}
                </td>
              </tr>
              <tr>
                <td>
                  PA2 : {{ modalContent.PA2 }}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="form-group">
        </div>
        -->