<app-studsidenav></app-studsidenav>
<div class="about">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Marks Evaluation System</mat-card-title>
          <mat-card-subtitle>Using MEAN Stack</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            A secure and user-friendly website which is able to evaluate marks based on internals, assignments, class test and practicals.
            The aim of proposed system is to develop a system of improved facilities. 
            The proposed system can overcome all the limitations of the existing system. 
            The system provides proper security and reduces the manual work.
            To bring uniformity to the system our team developed this application so all the colleges of a particular university can 
            perform the same evaluation system for all the students.
             After the evaluation of the marks by the teachers based on all the different assessments done, 
            the application will provide a graphical report of all the records as well as the results to the teachers as well as 
            the students based on which they can upload it to the university website for 
            the semester results and can improve and assist as needed.

          </p>
          <br>
          <h3>Our Team</h3>
          <p>
              This project was developed by Chandradip Panja, Ayan Roy and Nilanjan Roy of the IT
              Department.
          </p>
        </mat-card-content>
        
      </mat-card>
</div>

  