<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container class="example-container ">
    <mat-sidenav class="side-navbar " mode="side" opened>
        <br><br><br>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <a routerLink="/studenttable-marks" mat-button routerLinkActive = "mat-accent"> Check Marks</a>
        <br><br><br><br><br><br>
        <i class="fa fa-book" aria-hidden="true"></i>
        <a routerLink="/join-subject" mat-button routerLinkActive = "mat-accent"> Join Course</a>
        <br><br><br><br><br><br>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <a routerLink="/stud-profile" mat-button routerLinkActive = "mat-accent"> Your Profile</a>
        <br><br><br><br><br><br>
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <a routerLink="/about" mat-button routerLinkActive = "mat-accent"> About</a>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>