.card1{
  width:100%;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  font-size: smaller;
  text-align: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}

mat-spinner{
  margin: auto;
}



mat-card{
  margin: auto;
  margin-top:12vh;
  width: 40vw;
  background-color: rgb(255, 255, 255);
  padding-bottom: 3.5vh;
  
}
mat-card-actions{
 padding: 0px 5px;
 padding-left: 12.5vw;
}
mat-card-title{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  margin-bottom: 5vh;
  margin-top: 15px;
  font-size: xx-large;
}
.pad{
  padding-top: 2vh;
  padding-bottom: 2vh;
}