<app-sidenav></app-sidenav>
<div class="pad">
    <mat-card>
        <mat-card-title>YOUR PROFILE</mat-card-title>


        <mat-card class="card1" appearance="outline">
            <mat-label>Name</mat-label>
        </mat-card>



        <mat-card class="card1" appearance="outline">
            <mat-label>Age</mat-label>
        </mat-card>


        <mat-card class="card1" appearance="outline">
            <mat-label>Department</mat-label>
        </mat-card>


        <mat-card class="card1" appearance="outline">
            <mat-label>Email</mat-label>
        </mat-card>


        <mat-card class="card1" appearance="outline">
            <mat-label>Password</mat-label>
        </mat-card>



        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Edit</button>
        </mat-card-actions>

    </mat-card>
</div>