<app-sidenav></app-sidenav>



 <div class="pad">
    <mat-card >
        
        

            <mat-label>Name</mat-label>
            <mat-card-content>
                <h3>{{teacherName}}</h3>
            </mat-card-content>  

            <mat-label>Age</mat-label>
            <mat-card-content>
                <h3>{{teacherAge}} </h3>
            </mat-card-content>
        
            <mat-label>Department</mat-label>
            <mat-card-content>
                <h3>{{teacherDept}} </h3>
            </mat-card-content>
        
            <mat-label>Email</mat-label>
            <mat-card-content>
                <h3>{{teacherEmail}} </h3>
            </mat-card-content>
        
        
        


        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="onEdit(teacherName,teacherAge,teacherDept,teacherEmail,teacherPass)" style="cursor: pointer;" >Edit</button>
        </mat-card-actions>
    
    </mat-card>
</div> -->

