<div class="container">
  <h3 mat-dialog-title>Student Details</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.Name" name="Name" required readonly>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput #input class="form-control" placeholder="Roll" [(ngModel)]="data.Roll" name="Roll" required readonly>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->


    <div class="form">
        <mat-form-field color="accent" class="contents">
          <input matInput placeholder="CA1" [(ngModel)]="data.CA1" name="CA1">
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput placeholder="Test1" [(ngModel)]="data.Test1" name="Test1">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput placeholder="CA2" [(ngModel)]="data.CA2" name="CA2">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput placeholder="PA1" [(ngModel)]="data.PA1" name="PA1">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput placeholder="CA3" [(ngModel)]="data.CA3" name="CA3">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput placeholder="Test2" [(ngModel)]="data.Test2" name="Test2">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput placeholder="CA4" [(ngModel)]="data.CA4" name="CA4">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent" class="contents">
        <input matInput placeholder="PA2" [(ngModel)]="data.PA2" name="PA2">
      </mat-form-field>
    </div>

    <div mat-dialog-actions >
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>

