<app-studsidenav></app-studsidenav>
<div class="container">
    <div class="center">
        <a>Welcome&nbsp;&nbsp;&nbsp;{{username}}</a>
        <!--<button class="std">
            <a routerLink="/studenttable-marks" mat-button routerLinkActive = "mat-accent">Check Marks</a>
        </button>
        <div class="next">
            <button class="std">
                <a routerLink="/graph" mat-button routerLinkActive = "mat-accent"> Show  Data  </a>
            </button>
        </div>-->
    </div>
</div>
