<app-sidenav></app-sidenav>
<div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow main-table">
          <div class="card-header border-0">
            <h3 class="text mb-0">Student Marks Data</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Roll</th>
                  <th scope="col">CA1</th>
                  <th scope="col">TEST1</th>
                  <th scope="col">CA2</th>
                  <th scope="col">PCA1</th>
                  <th scope="col">CA3</th>
                  <th scope="col">TEST2</th>

                  <th scope="col">CA4</th>
                  <th scope="col">PCA2</th>
                  <th scope="col">FINAL</th>
                  <th scope="col">EDIT</th>
                  <th scope="col">GRAPH</th>
                  <th scope="col"></th>
                </tr>
                <tr *ngFor="let tcr of teacher; let i = index">
                  <td scope="col">{{ tcr.sname }}</td>
                  <td scope="col">{{ tcr.sroll }}</td>
                  <td id="ca1" scope="col">{{ tcr.ca1 }}</td>
                  <td scope="col">{{ tcr.test1 }}</td>
                  <td id="ca2" scope="col">{{ tcr.ca2 }}</td>
                  <td scope="col">{{ tcr.pca1 }}</td>
                  <td id="ca3" scope="col">{{ tcr.ca3 }}</td>
                  <td scope="col">{{ tcr.test2 }}</td>

                  <td id="ca4" scope="col">{{ tcr.ca4 }}</td>
                  <td scope="col">{{ tcr.pca2 }}</td>
                  <td scope = "col"  ><span *ngIf="tcr.final > 0 && tcr.ca1 >=0 && tcr.ca2 >=0 && tcr.ca3 >=0 && tcr.ca4 >=0">{{ tcr.final }}</span> </td>
                  <td><mat-icon (click)="onEdit(i,tcr._id,tcr.sid,tcr.sname,tcr.sroll,tcr.ca1,tcr.test1,tcr.ca2,tcr.pca1,tcr.ca3,tcr.test2,tcr.ca4,tcr.pca2)" style="cursor: pointer;">edit</mat-icon></td>
                  <td><mat-icon (click)="showGraph(i,tcr.sname,tcr.sroll,tcr.ca1,tcr.test1,tcr.ca2,tcr.pca1,tcr.ca3,tcr.test2,tcr.ca4,tcr.pca2)" style="cursor: pointer;">bar_chart</mat-icon></td>

                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
