<app-sidenav></app-sidenav>
<div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow main-table">
          <div class="card-header border-0">
            <h3 class="text mb-0">Student Marks Data</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Roll</th>
                  <th scope="col">CA1</th>
                  <th scope="col">Test1</th>
                  <th scope="col">CA2</th>
                  <th scope="col">PA1</th>
                  <th scope="col">CA3</th>
                  <th scope="col">Test2</th>

                  <th scope="col">CA4</th>
                  <th scope="col">PA2</th>
                  <th scope="col"></th>
                </tr>
                <tr *ngFor="let tcr of teacher; let i = index">
                  <td scope="col">{{ tcr.Name }}</td>
                  <td scope="col">{{ tcr.Roll }}</td>
                  <td scope="col">{{ tcr.CA1 }}</td>
                  <td scope="col">{{ tcr.Test1 }}</td>
                  <td scope="col">{{ tcr.CA2 }}</td>
                  <td scope="col">{{ tcr.PA1 }}</td>
                  <td scope="col">{{ tcr.CA3 }}</td>
                  <td scope="col">{{ tcr.Test2 }}</td>

                  <td scope="col">{{ tcr.CA4 }}</td>
                  <td scope="col">{{ tcr.PA2 }}</td>
                  <td><mat-icon (click)="onEdit(i,tcr.Name,tcr.Roll,tcr.CA1,tcr.Test1,tcr.CA2,tcr.PA1,tcr.CA3,tcr.Test2,tcr.CA4,tcr.PA2)" style="cursor: pointer;">edit</mat-icon></td>
                  <td><mat-icon (click)="showGraph(i,tcr.Name,tcr.Roll,tcr.CA1,tcr.Test1,tcr.CA2,tcr.PA1,tcr.CA3,tcr.Test2,tcr.CA4,tcr.PA2)" style="cursor: pointer;">bar_chart</mat-icon></td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>


 

