<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container class="example-container ">
    <mat-sidenav class="side-navbar " mode="side" opened>
        <br><br><br>
        <div *ngFor="let subject of subjects">
        <i class="fa fa-book" aria-hidden="true"></i>
        <a [routerLink]="['/teachertable-marks', subject.subid]" mat-button routerLinkActive = "mat-accent">{{subject.sname}}</a>
        <br><br><br><br><br><br>
        </div>
        <i class="fa fa-book" aria-hidden="true"></i>
        <a routerLink="/create-subject" mat-button routerLinkActive = "mat-accent"> Add Course</a>
        <br><br><br><br><br><br>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <a routerLink="/tcr-profile" mat-button routerLinkActive = "mat-accent"> Your Profile</a>
        <br><br><br><br><br><br>
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <a routerLink="/about" mat-button routerLinkActive = "mat-accent"> About</a>
    </mat-sidenav>
  </mat-sidenav-container>
