<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-sidenav-container class="example-container ">
    <mat-sidenav class="side-navbar " mode="side" opened>
        <br><br><br>
        <i class="fa fa-book" aria-hidden="true"></i>
        <a href="/teachertable-marks"> Course 1</a>
        <br><br><br><br><br><br>
        <i class="fa fa-book" aria-hidden="true"></i>
        <a href="#subject2"> Course 2</a>
        <br><br><br><br><br><br>
        <i class="fa fa-book" aria-hidden="true"></i>
        <a href="#subject3"> Course 3</a>
        <br><br><br><br><br><br>
        <i class="fa fa-book" aria-hidden="true"></i>
        <a href="/create-subject"> Add Course</a>
        <br><br><br><br><br><br>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <a href="/tcr-profile"> Your Profile</a>
        <br><br><br><br><br><br>
        <i class="fa fa-address-book" aria-hidden="true"></i>
        <a href="#about"> About</a>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
