.home{
    text-align: center;
    font-size: xX-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    margin-top: 350px;
    text-shadow: black;
}

.abb{
    text-align: center;
    padding-left: 38%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55%;
}

.container {
    height: 100px;
    position: relative;
  }
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}